/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf/METASOCIOMIC config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
    Author: Jimmy Lucas
    Description: Configuration for METASOCIOMIC Analysis Workflow
    Repository: https://github.com/jimmlucas/metasociomics
    Nextflow Version: >=23.04.4.5881
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    help                    = false
    input                   = "$projectDir/data/in/*_{1,2}.fastq.gz"
    reference               = "$projectDir/data/reference_genome"
    personal_ref            = "$projectDir/data/reference_genome/personal/Siderophores_contigs.fa"
    sp_ref                  = "$projectDir/data/reference_genome/Specie/GCA_034224525.1_PDT002019272.1_genomic.fna"
    outdir                  = "$projectDir/data/out"
    qcdir                   = "$projectDir/data/out/1-fastqc"
    index_genome_personal   = "$projectDir/data/reference_genome/personal/index_personal_genome"
    index_genome_specie     = "$projectDir/data/reference_genome/Specie/index_sp_genome"
    gatk4.docker            = "broadinstitute/gatk:4.5.0.0"
    singleEnd               = false
    version                 = '0.1.0'
    nf_required_version     = '0.26.0'

// Max resource options, defaults only, expecting to be overwritten
    gatk_memory     = 10        // should be same as max_memory  
    max_threads     = 16

 // TRIMMOMATIC (PIPELINES)
    trimmomatic_ADAPTER         = "$projectDir/workflow/bin/trimming/trimmomatic/TruSeq3-PE.fa"
    trimmomatic_MINLEN          = 50
    trimmomatic_SLIDINGWINDOW   = "4:20"
    trimmomatic_LEADING         = 20
    trimmomatic_TRAILING        = 20
}

profiles {
    conda {
        params.enable_conda    = true
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        process.container      = 'jimmlucas/dvt:wgs'
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        }
}

report {
    enabled = true
    file = "${params.outdir}/report/DVT_report.html"
    overwrite = true
}
timeline {
    enabled = true
    file = "${params.outdir}/report/DVT_timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/report/DVT_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/report/DVT_dag.svg"
    overwrite = true
}